.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.body {
  background-color: #ececec;
}

.location-overlay-container {
  position: absolute;
  left: 0px;
  top: -562px;
  right: 0px;
  display: block;
  max-width: 1200px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  display: block;
}

.hotspot {
  position: fixed;
  width: 100px;
  height: 100px;
}

.hotspot.close-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 75px;
  height: 70px;
}

.hotspot.select-county {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 420px;
  height: 300px;
  margin-top: 188px;
  margin-left: 47px;
}

.hotspot.county-reset {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 62px;
  margin-top: 126px;
  margin-left: 347px;
}

.hotspot.menu-find-home {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 50px;
  margin-right: 50px;
}

.hotspot.hero-button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 220px;
  height: 55px;
  margin-top: 486px;
  margin-left: 491px;
}

.hotspot.filter-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
  width: 220px;
  height: 73px;
  margin-top: 234px;
  margin-right: 50px;
}

.hotspot.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 223px;
  height: 135px;
  margin-left: 50px;
}

.hotspot.map-detail-expansion {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 74px;
  height: 80px;
  margin-top: 520px;
  margin-right: 65px;
}

.hotspot.close-map-details {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
}

.image-2 {
  display: block;
}

.county-map {
  position: relative;
  display: none;
}

.filter-expansion {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: none;
  margin-top: 231px;
}

.overlay-container {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: none;
  max-width: 1200px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
}

.image-4 {
  margin-top: 50px;
}